.spinnerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spinnerItem{
    margin-top: 12.5rem;
    margin-bottom: 12.5rem;
    height: 6.25rem;
    width: 6.25rem;
    color: var(--secondary);
}