.nosotrosContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 3rem;
    gap: 2rem;
}
.nosotrosTitleSection{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

.nosotrosSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 8rem;
    gap: 2rem;
}

@media screen and (max-width: 1200px) {
    .nosotrosTitleSection{
        font-size: x-large;
    }
    .nosotrosSection{
        padding-inline: 6rem;
    }
}

@media screen and (max-width: 920px) {
    .nosotrosTitleSection{
        font-size: large;
    }
    .nosotrosSection{
        padding-inline: 3rem;
        gap: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .nosotrosTitleSection{
        font-size: medium;
    }
    .nosotrosSection{
        padding-inline: 1rem;
    }
}
