.depositoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 3rem;
    padding-inline: 5rem;
    gap: 2rem;
}

.depositoTitle{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

.depositoSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem
}

@media screen and (max-width: 600px) {
    .depositoSection{
        gap: 1rem
    }
    .depositoTitle{
        font-size: x-large;
    }
}