@import url('../../assets/colors/variables.css');

.BannerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--quaternary);
    background-blend-mode: multiply;
    background-size: cover;
    height: 70vh;
}

.BannerText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.BannerTitle{
    font-size: xx-large;
    font-weight: bold;
    color: var(--primary);
}
.BannerSubtitle{
    font-size: x-large;
    color: var(--primary);
}

.BannerButton{
    border-width: 2px;
    border-color: var(--secondary);
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 0.75rem;
    border-radius: 0.375rem;
}

.BannerButton:hover{
    color: var(--primary);
    background-color: var(--secondary);
}

/*Media queries*/
@media screen and (max-width: 992px) {
    .BannerText{
        gap: 1rem;
    }
    .BannerContainer{
        height: 60vh;
    }
    .BannerTitle{
        font-size: x-large
    }
    .BannerSubtitle{
        font-size: large
    }
    .BannerButton{
        font-size: medium;
    }
}

@media screen and (max-width: 600px) {
    .BannerText{
        gap: 0.5rem;
    }
    .BannerTitle{
        font-size: large
    }
    .BannerSubtitle{
        font-size: medium
    }
    .BannerButton{
        font-size: small;
    }
}

@media screen and (max-width: 450px) {
    .BannerTitle{
        font-size: medium
    }
    .BannerSubtitle{
        font-size: small
    }
    .BannerButton{
        font-size: x-small;
    }
}