

.HomeContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sectionContainer{
    padding-inline: 8rem;
}

.sectionTitle{
    font-size: xx-large;
    font-weight: bold;
    font-family: var(--font-primary)
}

.sectionsArticles{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
}

@media screen and (max-width: 992px) {
    .HomeContainer{
        gap: 2.5rem;
    }
    .sectionContainer{
        padding-inline: 6rem;
    }
    .sectionsArticles{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .sectionTitle{
        font-size: x-large;
        padding-block: 1rem;
        text-align: center;        
    }

}

@media screen and (max-width: 600px) {
    .HomeContainer{
        gap: 1.5rem;
    }
    .sectionContainer{
        padding-inline: 2rem;
    }
}
