.navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    padding-inline: 5rem;
}

.navbarLogo{
  width: 15rem;
}

.navbarList{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarListItem{
  color: black;
  font-size: large;
  margin-inline: 1rem;
  font-weight: 500;
}

.navbarListItem:hover{
  color: var(--secondary);
}

.navbarListIntranet {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  gap: 0.5rem;
  border-width: 3px;
  border-color: var(--secondary);
  margin-inline: 1rem;
  padding: 0.6rem;
}

.navbarListIntranet:hover {
  background-color: var(--secondary);
}

.menuMobile {
    display: none;
    margin-right: 5%;   
}

.cerrarMenuMobile {
  display: none;
  margin-bottom: 10%;
}

.buttonAbrir{
    border: 1px solid grey;
    font-size: xx-large;
    border-radius: 0.375rem;
    padding: 1.5%;
}
 */
.navbarUserAuthenticated {
  font-weight: bold;
  font-size: large;
}

.navbarAuthenticated{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.navbarUserLogout{
  display: block;
  background-color: var(--secondary);
  font-weight: bold;
  padding: 0.75rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
  
.navbarUserLogout:hover{
  background-color:var(--primary)
}

@media screen and (max-width: 1450px) {
  .navbarContainer{
    padding-inline: 4rem;
  }
  .navbarListItem{
    margin-inline: 0.75rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .navbarContainer{
    padding-inline: 3rem;
  }

  .navbarLogo{
    width: 12rem;
  }

  .navbarListItem{
    font-size: small;
    margin-inline: 0.75rem;
    font-weight: 500;
  }

  .navbarListIntranet {
    border-width: 2px;
    font-size: small;
  }
}
  
@media screen and (max-width: 992px) {
  .menuMobile{
    display: block;
    cursor: pointer;
  }

  .cerrarMenuMobile {
    display: block;
    font-size: 2rem;
    padding-inline: 1rem;
    cursor: pointer;
    color: var(--quaternary);
  }

  .navbarLinks {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
    background-color: var(--background-card);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.4);
    width: 35%;
  }

  .navbarLinks.visible {
    opacity: 1;
    visibility: visible;
  }

  .navbarList {
    flex-direction: column;
    align-items: end;
    gap: 1.5rem;
  }
  .navbarListItem{
    font-size: medium;
  }
  .navbarListIntranet{
    font-size: medium;
  }
}

@media screen and (max-width: 768px) {
  .navbarContainer {
    padding-inline: 1.5rem;
  }

  .navbarLinks {
    width: 50%;
  }
  .navbarAuthenticated{
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
  }
  .navbarUserAuthenticated{
    font-size: small;
  }
  .navbarUserLogout{
    padding: 0.5rem;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 400px) {
  .navbarLinks{
    padding-inline: 1rem;
  }
  .navbarListItem, .navbarListIntranet{
    font-size: small;
  }
  .navbarUserAuthenticated{
    font-size: x-small;
  }
}