.resetPasswordContainer{
    background-color: var(--background-card);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 10rem;
}

.resetPasswordForm{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--primary);
    border: 2px solid var(--quaternary);
    padding: 3rem;
}

.resetPasswordTitle{
    color: var(--quaternary);    
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.resetPasswordSubtitle{
    color: var(--quaternary);
    font-size: large;
    text-align: center;

}

.resetPasswordLabel{
    font-weight: bold;
    color: var(--quaternary)
}

.resetPasswordInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.resetPasswordInputBox{
    width: 18rem;
    background-color: var(--primary);
    border: 1px solid var(--quaternary);
    color: var(--quaternary);
    padding-inline: 1rem;
    padding-block: 0.5rem;
    margin-block: 0.5rem;
    margin-left: 1.5rem;
}

.resetPasswordButton{
    width: 15rem;
    background-color: var(--quaternary) !important;
    color: var(--primary);
    padding-inline: 0.5rem;
    padding-block:0.5rem;
    margin:auto;
}

@media screen and (max-width: 600px) {
    .resetPasswordContainer{
        padding-block: 5rem;
    }

    .resetPasswordForm{
        padding: 1rem;
        width: 23rem;
    }

    .resetPasswordTitle{
        font-size: large;
    }

    .resetPasswordSubtitle{
        font-size: small;
    }
    .resetPasswordInputBox{
        width: 15rem;
        margin-left: 0.5rem;
    }

    .resetPasswordButton{
        width: 10rem;
        font-size: small;
    }
}

@media screen and (max-width: 400px) {
    .resetPasswordForm{
        width: 20rem;
    }
}