.homeIntranetContainer{
    display: flex;
    flex-direction: column;
    padding-block: 3rem;
    padding-inline: 35rem;
}
.homeIntranetText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--background-card);
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.homeIntranetTitle{
    border-bottom: 3px solid var(--quaternary);
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.homeIntranetSubtitle{
    margin-top: 0.25rem;
    font-weight: bold;
}

/*This is for all intranet pages*/
.intranetPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intranetPageTitle{
    font-weight: bold;
    padding-top: 2rem;
}

.intranetPageSubtitle{
    padding-top: 1rem;
    padding-inline: 3rem;
    font-size: small;
}   

@media screen and (max-width: 1650px) {
    .homeIntranetContainer{
        padding-inline: 30rem;
    }
}

@media screen and (max-width: 1450px) {
    .homeIntranetContainer{
        padding-inline: 25rem;
    }
}

@media screen and (max-width: 1200px) {
    .homeIntranetContainer{
        padding-inline: 15rem;
    }
}

@media screen and (max-width: 992px) {
    .homeIntranetContainer{
        padding-inline: 10rem;
    }
    
    .intranetPageSubtitle{
    padding-inline: 5rem;
    }   

}

@media screen and (max-width: 768px) {
    .homeIntranetContainer{
        padding-inline: 5rem;
    }
}

@media screen and (max-width: 600px) {
    .homeIntranetContainer{
        padding-inline: 2rem;
    }
    .intranetPageTitle{
        margin-top: 10%;
        margin-inline: 5%;
        font-size: small;
    }

}

@media screen and (max-width: 450px) {
    .homeIntranetTitle{
        font-size: medium;
    }
    .homeIntranetText{
    font-size: small;
    }
    .homeIntranetContainer{
        padding-inline: 2rem;
        padding-block: 1rem;
    }
}



