@import url('../../assets/colors/variables.css');

.counterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-inline: 2rem;
}

.CounterItem {
    font-size: 4rem;
    font-weight: bolder;
    color: var(--secondary);
}

.CounterTitle {
    font-size: large;
    text-align: center;
    font-weight: bold;
    margin-block: 0.5rem;
}

.CounterDescription {
    font-size: medium;
    margin-block: 0.5rem;
    text-align: justify;
}

@media screen and (max-width: 992px) {
    .CounterItem {
        font-size: 3rem;
    }
}


@media screen and (max-width: 600px) {
    .CounterTitle {
        font-size: medium;
    }
    .CounterDescription {
        font-size: small;
    }
}