@import url('../../assets/colors/variables.css');

.slick-prev:before{
    color: var(--primary);
    font-size: 1rem; 
}

.slick-next:before {
  color: var(--primary);
  font-size: 1rem; 
}

.slick-prev {
  left: 1rem;
  display: block !important;
  position: absolute;
    z-index:25000
}
.slick-next {
  right: 1rem; 
}